<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>


<section th:fragment="modal_loading">

    <div id="modal-loading" class="modal-loading">

        <div class="modal-loading-center bg-color-white">
            <h3 class="h3-modal-loading">Loading</h3>
            <div class="in-center">
                <img class="img-modal-loading" th:src="@{/assets/loading.svg}">
            </div>
        </div>

    </div>

</section>


</body>
</html>